Repository raouldeheer/buffercursor.ts, changes with the labels that .github/labeler.yml gives for each.
All labels: repo, source, testing, github

.github/labeler.yml:

repo:
  - ./*
  
source:
  - src/**/*
    
testing:
  - tests/**/*

github:
  - .github/*

Create codeql.yml
  .github/workflows/codeql.yml
Labels: none

Create dependency-review.yml
  .github/workflows/dependency-review.yml
Labels: none

Create ossar.yml
  .github/workflows/ossar.yml
Labels: none

Fixed node version in workflows
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
Labels: none

Updated package.json
  README.md
  package.json
Labels: repo

Added Inspiration to readme
  README.md
Labels: repo

Added read/write docs
  src/buffercursor.ts
  tests/buffercursor.spec.ts
Labels: source, testing

Added class docs
  src/buffercursor.ts
  src/overflowError.ts
Labels: source

Added prepack script
  package.json
Labels: repo

1.0.1
  package.json
Labels: repo

Added target to tsup config
  tsup.config.ts
Labels: repo

Added isBufferCursor
  src/buffercursor.ts
  tests/buffercursor.spec.ts
Labels: source, testing

1.0.2
  package.json
  src/buffercursor.ts
Labels: repo, source

Fixed types
  src/buffercursor.ts
Labels: source

1.0.3
  package.json
Labels: repo

Updated node version
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
Labels: none

Updated deps
  package.json
  pnpm-lock.yaml
  tsup.config.ts
Labels: repo

Updated workflows
  .github/workflows/node.js.yml
  .github/workflows/npm-publish.yml
Labels: none

Update npm-publish.yml
  .github/workflows/npm-publish.yml
Labels: none
